.Item {
    background-color: rgba(204, 227, 236, 0.5);
    border-radius: 5px;
    padding: 10px;
}

.first_line {
    display: flex;
    justify-content: space-between;
}

.name_col {
    font-size: 18px;
}

.rating_col {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.star_filled {
    background: url("../img/star_filled.png") no-repeat center center;
    width: 25px;
    height: 25px;
    background-size: contain;
}

.star_empty {
    background: url("../img/star_empty.png") no-repeat center center;
    width: 25px;
    height: 25px;
    background-size: contain;
}

.second_list {
    display: flex;
    justify-content: space-between;
}

.location_col {
    font-size: 14px;
    color: dimgray;
    margin-left: 10px;
    margin-top: 5px;
}

.memo_col {
    font-size: 14px;
    color: dimgray;
    margin-left: 10px;
    margin-top: 5px;
}

.btn_col {
    text-align: right;
    cursor: pointer;
    color: gray;
    font-size: 14px;
    border: none;
    padding: 5px;
}

.btn_col button {
    font-family: "Jua", sans-serif;
}